footer {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: black;
    padding: 30px;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex: row wrap;
    transition: all 1s;
    justify-content: space-between;
}

footer:hover {
    width: 90%;
}

footer a {
    color: white;
}

footer a:hover {
    color: rgb(69, 224, 224);
}

footer #enlaces a {
    margin-right: 20px;
}
